# Игнорируем переменные окружения
.env
.env.dev
.env.prod


# Игнорируем логи
logs/
*.log

# Игнорируем временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем виртуальное окружение (если ты его создаёшь в проекте)
venv/

# Игнорируем IDE-файлы (если работаешь в PyCharm)
.idea/

# Архивы, временные копии
*.zip
*.bak
*.tmp
